#t01{
    background-color: aqua;
    width:50px;
    height: 50px;
    /*vw vh 는 내가 보는 화면 기준, %는 부모 기준*/
}
span{
    display: inline=block;
    
    width:50px;
    height:100px;
    background-color: green;
}
/*
    인라인 : 글자가 있는 만큼만 공간차지
            크기 조절 불가능

    블럭 : 한 줄 전체를 차지
            크기 조절 가능
*/
#t02{
    display: block;
    width:100px;
    height: 100px;
    background-color: gray;
    border-width: 10px;
    border-style:dashed;
    border-color: brown;
    border-radius: 2%;
    border: 5px ridge red;
}
.box{
    width:100px;
    height: 100px;
    /* float: left; */
    display: inline-block;
    background-color: gray;
}
#target{
    margin:10px;
    padding: 10px;
}
.ptest{
    width: 100px;
    height: 100px;
    background-color: gray;
}
   
#p03{
    background-color: red;
    position: static;
    position: sticky;
    bottom: 100px;
    left: 1000px;

    /* 픽스드는 레이어가 맨 뒤, 화면(뷰어)기준 절댓값
    엡솔은 레이어가 맨 앞, body에서 절댓값 
    릴레이티브원래 공간은 차지하면서 보이는 것만 움직인다.*/
    /*
    스테틱은 기본값 (기본대로 흐른다)
    릴레이티브는 상대적으로 위치
    엡솔은 static 아니면 부모 인정
    픽시드는 화면 기준으로 절대값 고정
    스틱키는 기본은 relative, fixed가 가능하면 적용
    */

}
#wrap{
    width: 400px;
    height: 400px;
    background-color: aqua;
    position: absolute;
}
#p03{

}